<% include header %>
<% if(newData.rounds.length){ %>
	<% newData.rounds.forEach(function(movie, index){ %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="text-muted pull-right">
				<%= "Time to Answer: " + movie.timeLimitInSeconds %>
				<%= "| Points Added for Correct Answer: " + movie.pointsAddedForCorrectAnswer %>
				<a href="new-entry?num=<%= index %>" class="btn btn-primary pull-right" style="margin-left:10px;height:20px;text-align: center; line-height: 7px;">Edit</a>
			</div>
			<%= movie.name %>
		</div>
		<div class="panel-body">
			<% movie.questions.forEach(function(question){ %>
				<%= question.questionText %>
				<ul>
					<% question.answers.forEach(function(answer){ %>
						<li>
							<%= answer.answerText %>
							<% if(answer.isCorrect) { %>
								<div class = "text-muted pull-right"> &#10004</div>
							<% } %>
						</li>
					<% }) %>
				</ul>
			<% }) %>
		</div>
	</div>
	<% }) %>
	<% } else { %>
	<div style="color:rgb(18, 160, 196)"> No Movies! 
		<a href="/new-entry">Add a movie?</a>
	</div> 
	<% } %>
<% include footer %>
